<div class="row">
  <div class="col-8">
    <div class="star-ratings mb-0">
      <h3 style="display: inline-block;margin-right:10px;">Reviews</h3>
      <%= render 'users/ratings', teacher: @user %>
    </div>

    <% if @user.reviews.count %>
      <% @user.reviews.each do |review| %>
        <p id="review-<%= review.id %>">
          <span class="me-2"><%= review.content %></span>
          <span style="font-size:14px;"><i class="fa-solid fa-star" style="color:gold;"></i> <%= review.rating %></span>
        </p>
      <% end %>
    <% else %>
      <p>No reviews yet</p>
    <% end %>
  </div>
  <div class="col-4">
    <% if current_user.had_class_with_teacher?(@user) %>
      <%= simple_form_for([@user, @review ], remote: true) do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
