<div class="container my-5">
  <%# Section for searching %>
  <div class="input-icons mb-4">
    <i class="fa-solid fa-magnifying-glass icon" style="color:#544d40"></i>
    <%= form_tag users_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-bar",
        placeholder: "Search"
      %>
    <% end %>
  </div>

  <%# Teacher cards %>
  <div class="row d-flex">
    <% @teachers.each do |teacher| %>
      <div class="col-4 my-3">
        <%= link_to teacher, style: "text-decoration:none;" do  %>
          <div class="teacher-card d-flex align-content-around flex-wrap">
            <div class="d-flex justify-content-start align-items-center">
              <div>
                <% if (teacher.photo.key).blank? %>
                  <%= image_tag "anonavatar.png", class: "avatar-70" %>
                <% else %>
                  <%= cl_image_tag(teacher.photo.key, transformation: [{ crop: "thumb", gravity: "face"}], class: "avatar-large") %>
                <% end %>
              </div>
              <div class="teacher-header ms-3">
                <%# !!NOTE!! To make sure either teacher has to add name, or to use name from email if name not added yet %>
                <h4><%= teacher.first_name %> <%= teacher.last_name %></h4>
                <%# Stars section using calculation of review rating %>
                <div class="star-ratings mb-0">
                  <%= render 'users/ratings', teacher: teacher %>
                </div>
                <%# !!NOTE!! To update numbers with correct calculations %>
                <span style="font-size:10px;margin:0px;"> <%= teacher.unique_student_count %> students | <%= teacher.teacher_bookings.select{|booking|booking.status == "completed"}.count %> lessons</span>
              </div>
            </div>

            <%# Teacher details section %>
            <div class="teacher-details mt-2">
              <p><span style="font-weight:600">Teaches:</span> <%= teacher.listed_subjects.map{|subj|subj.name}.join(", ") %></p>
              <p><span style="font-weight:600">Teaching Experience:</span> <%= teacher.experience %> years </p>
              <p><span style="font-weight:600">Hourly rate:</span> <% if teacher.min_rate == teacher.max_rate %>
                $<%= teacher.min_rate %>
              <% else %>
                $<%= teacher.min_rate %> - $<%= teacher.max_rate %>
              <% end %> </p>
              <p><span style="font-weight:600">Location:</span> <%= teacher.location %> </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
