<div class="container my-5">
  <%# Section for searching %>
  <div class="input-icons mb-4">
    <i class="fa-solid fa-magnifying-glass icon" style="color:#544d40"></i><input class="search-bar">
  </div>

  <%# Teacher cards %>
  <div class="row d-flex justify-content-between">
    <% @teachers.each do |teacher| %>
      <div class="col-4 my-3">
        <%= link_to teacher, style: "text-decoration:none;" do  %>
          <div class="teacher-card d-flex align-content-around flex-wrap">
            <div class="d-flex justify-content-start align-items-center">
              <div>
                <%# !!NOTE!! To replace with user's avatar %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large" %>
              </div>
              <div class="teacher-header ms-3">
                <%# !!NOTE!! To make sure either teacher has to add name, or to use name from email if name not added yet %>
                <h4><%= teacher.first_name %> <%= teacher.last_name %></h4>
                <%# Stars section using calculation of review rating %>
                <%= render 'users/ratings', teacher: teacher %>
                <%# !!NOTE!! To update numbers with correct calculations %>
                <span style="font-size:10px;margin:0px;">5 students | 20 lessons</span>
              </div>
            </div>

            <%# Teacher details section %>
            <div class="teacher-details mt-2">
              <p><span style="font-weight:600">Teaches:</span> <%= teacher.listed_subjects.map{|subj|subj.name}.join(", ") %></p>
              <p><span style="font-weight:600">Teaching Experience:</span> <%= teacher.experience %> years </p>
              <p><span style="font-weight:600">Hourly rate:</span> <% if teacher.min_rate == teacher.max_rate %>
                $<%= teacher.min_rate %>
              <% else %>
                $<%= teacher.min_rate %> - $<%= teacher.max_rate %>
              <% end %> </p>
              <p><span style="font-weight:600">Location:</span> <%= teacher.location %> </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
