<div class="d-flex" data-controller="availability">
  <%# Work Hour contents %>
  <div class="left-30 schedule d-flex justify-content-center">
    <div class="fixed">
      <h4 class="text-wine my-4">Working Hours</h4>
        <% @schedules.each do |sched| %>
          <div class="mb-3">
            <p class="fw-500"><%= sched.day %></p>
            <p><%= sched.start_time.strftime("%I:%M %p") %> to <%= sched.end_time.strftime("%I:%M %p") %></p>
          </div>
        <% end %>
      <p class="link" data-action="click->availability#displayScheduleForm"><% if @schedules.blank? %>
        Add availability
      <% else %>
        Edit availability
      <% end %></p>
    </div>
  </div>

  <%# Calendar content showing availabilities/unavailabilities %>
  <div class="right-70">
    <h3 class="text-green center" style="display:inline">Your Schedule</h3>
    <button data-action="click->availability#displayAvailForm" class="btn-square center"><i class="fa-solid fa-plus" style="color:white"></i></button>
    <div class="calendar-container mt-4">
      <% if @month_availability_slot %>
        <%= month_calendar(events: @month_availability_slot, end_attribute: :end_time) do |date, availabilities| %>
          <%= date %>
          <% availabilities.each do |availability| %>
            <div id="<%= availability.id %>" class="<%= availability.blocker ? 'month_booking' : 'month_available' %>" data-availability-target="slot" data-action="click->availability#selectAvailsMonth">
              <small><%= availability.time unless availability.multi_days? %></small>
            </div>
          <% end %>
        <% end %>
      <!-- If no availability then show empty calendar -->
      <% else %>
        <%= month_calendar do |date| %>
          <%= date %>
        <% end %>
      <% end %>
    </div>

  </div>
  <%# Form for set work hours %>
  <div id="overlay-left">
    <form class="sched-form" action="/schedules/bulk" method="post">
      <h4 class="center mt-3 mb-3">Set working hours</h4>
      <%# start and end time for each day %>
      <% Schedule::DAYS.each do |day| %>
        <p class="list-header"><%= day %></p>
        <p>
        <input id="<%= day %> start" class="datepicker" name="<%= day %> start" value="0700"><span>to</span>
        <span style="float: right;"><input id="<%= day %> end" class="datepicker" name="<%= day %> end" value="2300"></span></p>
      <% end %>
      <div class="d-flex justify-content-between align-items-center">
        <span data-action="click->availability#hideScheduleForm" style="text-decoration:underline;margin-top:12px;font-weight:200">Close</span>
        <input type="submit" value="Confirm" class="btn-brown-sm">
      </div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </div>

  <%# Form for new availability %>
  <div id="overlay-right">
    <h4 class="mt-3 center">Add availabilities</h4>
  </div>
</div>
