<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "books-stack-of-three.png", style: 'height: 24px;width:24px; margin: 0;display:inline;' %>
      <div class="logo">Element</div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.role == "Teacher" %>
            <li class="nav-item mx-1 active">
              <%= link_to "My Subjects", subjects_path, class: "nav-link" %>
            </li>
            <li class="nav-item mx-1">
              <%= link_to "My Schedule", schedules_path, class: "nav-link" %>
            </li>
            <li class="nav-item mx-1">
              <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle p-0 mx-2" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <!--<%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle" %>-->
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag(current_user.photo.key, transformation: [{ crop: "thumb", gravity: "face"}], class: "avatar dropdown-toggle") %>
                <% else %>
                  <%= image_tag "anonavatar.png", class: "avatar dropdown-toggle" %>
                <% end %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><%= link_to "Edit account", edit_user_registration_path, class: "dropdown-item" %></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% elsif current_user.role == "Student" %>
            <li class="nav-item mx-1">
              <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle p-0 mx-2" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <!--<%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle" %>-->
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag(current_user.photo.key, transformation: [{ crop: "thumb", gravity: "face"}], class: "avatar dropdown-toggle") %>
                <% else %>
                  <%= image_tag "anonavatar.png", class: "avatar dropdown-toggle" %>
                <% end %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% end %>

        <% else %>
          <li class="nav-item mx-1">
            <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item mx-1">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
