<div class="d-flex">
  <div class="pad-20 px-70 left-white">
    <h3 class="text-green mb-4">Your Subjects</h3>
    <div class="row">
      <div class="col-6">
        <h5>Listed</h5>
      </div>
      <div class="col-6">
        <h5>Not Listed</h5>
      </div>
    </div>

    <div class="row" data-controller="sortable">
      <div id="listed" class="list-group col-6 pl-12" data-action="drop->sortable#updateListed">
        <% @listed_subjects.each do |listed_subj| %>
          <div class="list-group-item" id="subject-<%= listed_subj.id %>">
            <p class="list-header" id="subject-<%= listed_subj.id %>"><%= listed_subj.name %></p>
            <% listed_subj.grades.each do |grade| %>
              <p class="list-text" id="subject-<%= listed_subj.id %>"><%= grade.name %>:    $<%= grade.hourly_rate.round(2) %>/h</p>
            <% end %>
          </div>
        <% end %>

      </div>
      <div id="unlisted" class="list-group col-6 pl-12" data-action="drop->sortable#updateUnlisted">
        <% @unlisted_subjects.each do |unlisted_subj| %>
          <div class="list-group-item" id="subject-<%= unlisted_subj.id %>">
            <p class="list-header" id="subject-<%= unlisted_subj.id %>"><%= unlisted_subj.name %></p>
            <% unlisted_subj.grades.each do |grade| %>
              <p class="list-text" id="subject-<%= unlisted_subj.id %>"><%= grade.name %>: $<%= grade.hourly_rate.round(2) %>/h</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%# -------------- FORM FOR NEW SUBJ AND GRADES ----------------- %>
  <div class="white">
    <div class="my-3 mx-4">
      <h4 class="text-wine my-4">Add Subject</h4>
      <%# Send form to custom bulk create mode %>
      <form action="/subjects/bulk" method="post">
        <%# Select a subject %>
        <label for="subject" class="mb-2">Subject:</label>
        <select id="subject" name="subject" class="form-select mb-3" aria-label="Default select example">
          <option selected>Select subject</option>
          <% Subject::SUBJECTS.each do |subj| %>
            <option><%= subj %></option>
          <% end %>
        </select>
        <%# Pick options %>
        <label for="grade" class="mb-2">Grades:</label>
        <div class="row pad-left-12 mb-3">
          <% Grade::GRADES.each do |grade| %>
            <div class="form-check col-6 mb-2">
              <input class="form-check-input" name="<%= grade %>" type="checkbox" id="<%= grade %>">
              <label class="form-check-label me-3" for="<%= grade %>">
                <span style="color: #414141;"><%= grade %></span>
              </label>

            </div>
            <div class="col-6 mb-2">
              <input type="number" step="any" placeholder="Hourly Rate" name="<%= grade %> Rate" class="input-sm float-right" >
            </div>
          <% end %>
        </div>
        <input type="submit" value="Add" class="btn-brown-sm">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%#= hidden_field_tag :start_time, @start_time %>
        <%#= hidden_field_tag :letters, @letters %>
      </form>
    </div>
  </div>
</div>
